<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!----bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!---bootstrap end-->
    <!---font style start-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto&display=swap" rel="stylesheet">
    <!---font style end-->
    <!--font awsome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     <!--font awsome-->
     <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <header class="header-section">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">Biswadeb Rajbongshi</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto ">
                     
                      <li class="nav-item">
                        <a class="nav-link active" href="./resume.html">Resume</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./service.html">Service</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./portfolio.html">Portfolio</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link "  href="./acheivement.html">Achievements</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="../view/contact.html">Contact</a>
                      </li>
                     
                    </ul>
                
                    <ul class="sical-icon">
                        <li><a href="https://www.facebook.com/profile.php?id=100069304083701"><img src="../images/fb-icon.png" alt=""></a></li>
                        <li><a href="https://www.linkedin.com/feed/"><img src="../images/linkedin-icon.png" alt=""></a></li>
                        <li><a href=""><img src="../images/mail-icon.png" alt=""></a></li>
                        <li><a href=""><img src="../images/twitter-icon.png" alt=""></a></li>                    
                    </ul>                            
                  </div>
                </div>
            </nav>
        </div>
        <div class="container">
            <div class="row m-auto">
                <div class="col-lg-6 col-md-6 col-12">

                </div>
                <div class="col-lg-6 col-md-6 col-12 title">
                    <div class="typed">
                        <span class="mutli-typing">Welcome To My Website</span>
                          
                      </div>
            
                    <div class="title-course">
                        <h2>I AM</h2>
                        <h1 class="Frontend">Frontend Developer |</h1>                     
                        <h1 class="Web">Web Developer |</h1>                     
                        <h1 class="Application">Web Application Developer |</h1>
                        <h1  class="Modern">Modern Website Design |</h1>

                    </div>
                    <ul class="socal-prfile">
                        <li> <a href="" class="btn">Download CV</a></li>
                        <li> <a href="" class="btn">Friverr's</a></li>
                        <li> <a href="" class="btn">UP Work</a></li>
                    </ul>
                    
                </div>
            </div>
        </div>
      

    </header>
    <div class="footer ">
       
      <div class="whatsapp-chat">
          <a href="https://wa.me/+8801625646250?text=I'm%20interested%20in%20your%20car%20for%20sale" target="blank">
       
          </a>
    
         </div>
         
    </div>
    <script type="text/javascript">
      var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
      (function(){
      var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
      s1.async=true;
      s1.src='https://embed.tawk.to/647ce4f97957702c744bba31/1h23tssfh';
      s1.charset='UTF-8';
      s1.setAttribute('crossorigin','*');
      s0.parentNode.insertBefore(s1,s0);
      })();
      </script>

    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="../javascript/index.js"></script>
</body>
</html>