<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
            <!----bootstrap-->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

            <!---bootstrap end-->
            <!---font style start-->
            <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto&display=swap" rel="stylesheet">
            <!---font style end-->
            <!--font awsome-->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
             <!--font awsome-->
             <link rel="stylesheet" href="../css/portfolio.css">
</head>
<body>
    <header class="portfolio-section">
        <div class="close">
            <a href="./index.html"><i class="fa-regular fa-circle-xmark"></i></a>
        </div>
        <div class="container">
            <div class="row">
                <div class="title col-12">
                    <p>Showcase of my best works</p>
                    <h1>My Portfolio</h1>
                    <div class="space">
                    
                        
                    </div>
                </div>
             </div>
        </div>
        <div class="container">
        
        </div> <div class="row m-auto">
            <div class="col-lg-2 "></div>
             <div class=" col-lg-8 col-md-12 col-sm-12 ">
                 <div class="contain">
                     <button type="button" class="btn active" data-id="all">All Projects</button>
                     <button type="button" class="btn" data-id="work">Recent Work</button>
                     <button type="button" class="btn" data-id="elementor">Elementor</button>
                     <button type="button" class="btn" data-id="ecommerce">Ecommerce</button>
                     <button type="button" class="btn" data-id="blog">Blog</button>
                     <button type="button" class="btn" data-id="others">Others</button>
                 </div>
             </div>
             <div class="col-lg-2"></div>
            
             
             
         </div>
    <div class="container">
        <article>
            <div class="row content">
               
                <div class="col-lg-4 col-md-6">
                    <div class="item active work" id="work">
                        <div class="photo">
                        <img src="../images/10027.jpg" alt="">
                        </div>
                       
                  </div>

                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="item  work" id="work">
                        <div class="photo">
                        <img src="../images/10016.jpg" alt="">
                        </div>
                       
                  </div>

                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="item  work" id="work">
                        <div class="photo">
                        <img src="../images/10029.jpg" alt="">
                        </div>
                       
                  </div>
                    
                </div>

            




              
            </div>

        </article>


    </div>

      
 
    <div class="footer ">
       
        <div class="whatsapp-chat">
            <a href="https://wa.me/+8801625646250?text=I'm%20interested%20in%20your%20car%20for%20sale" target="blank">
         
            </a>
      
           </div>
           
      </div>
      <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/647ce4f97957702c744bba31/1h23tssfh';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
        })();
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="../javascript/portfolio.js"></script>
</body>
</html>