<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
            <!----bootstrap-->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

            <!---bootstrap end-->
            <!---font style start-->
            <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto&display=swap" rel="stylesheet">
            <!---font style end-->
            <!--font awsome-->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
             <!--font awsome-->
             <link rel="stylesheet" href="../css/resume.css">
         
</head>
<body>


    <header class="portfolio-section">
        <div class="close">
            <a href="./index.html"><i class="fa-regular fa-circle-xmark"></i></a>
        </div>
        <div class="container">
            <div class="row">
                <div class="title col-12">
                    <p>I'm available for hire</p>
                    <h1>My Resume</h1>
                    <div class="space">    
                    </div>
                    </div>
            </div>
            
        </div>

    </header>
    <div class="container">
        <section class="eduction">
              
            <div class="row ">
                <div class="col-md-6 ">
                    <h1 class="exper">Education</h1>
                   <div class="timelines">
                        <article>
                            <strong class="strongs">1</strong>
                            <div class="inform-ed">
                                <span class="year" >December2019 - June 2023</span>
                                <h4 class="resume-title">Bachelor of Science in Computer Science & Engineering</h4>
                                <a href=""><span class="initute">- City University</span></a>
                            
                            </div>
                            <ul class="result">
                                <li class="result-item"><p class="result-link">CGPA-2.86 on a scale of 4.00</p></li>
                                <li class="result-item"><p  class="result-link">Credit:157</p></li>
                                <l class="result-item"i><p  class="result-link">Program : Bachelor of Science in Computer Science & Engineering</p></li>
                                <li class="result-item"><p  class="result-link">Department : FACULTY OF SCIENCE &  Engineering</p></li>
                               
                            </ul>
                        </article>
                        <article>
                           <strong class="strongs">2</strong>
                            <div class="inform-ed">
                                <span class="year">Passing Year 2018</span>
                                <h4 class="resume-title">Haji Abul Hossain Institute of Technology (HABHIT)</h4>
                                <a  href="https://www.facebook.com/habhit.edu.bd"><span class="initute">- Haji Abul Hossain Institute of Technology (HABHIT)</span></a>
                            
                            </div>
                            <ul class="result">
                                <li class="result-item"><p class="result-link">Field of study : Science</p></li>
                                <li class="result-item"><p class="result-link">CGPA-3.46 on a scale of 4.00</p></li>
                                
                            </ul>
                        </article>
                        <article>
                            <strong class="strongs">3</strong>
                            <div class="inform-ed">
                                <span  class="year">Passing Year 2014</span>
                                <h4 class="resume-title">Pathrail M.L High School (S.S.C) </h4>
                                <a  href=""><span class="initute">- Pathrail M.L High School</span></a>
                               
                            
                            </div>
                            <ul class="result">
                                <li class="result-item"><p class="result-link">Field of study : Science</p></li>
                                <li class="result-item"><p class="result-link">GPA - 3.50 on a scale of 5.00.</p></li>
                            </ul>
                        </article>

                   </div>
                </div>
                <div class="col-md-6">
                    <h1 class="experien">Programming Skills</h1>
                    <article class="progressbar ">
                      
                    </article>

                </div>
            </div>
        </section>
    </div>
    <div class="footer ">
       
        <div class="whatsapp-chat">
            <a href="https://wa.me/+8801625646250?text=I'm%20interested%20in%20your%20car%20for%20sale" target="blank">
         
            </a>
      
           </div>
           
      </div>
      <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/647ce4f97957702c744bba31/1h23tssfh';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
        })();
        </script>

    <script src="../javascript/resume.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>